/* Global Variables */
$color-base: #349BC2;
$color-dark: #11607E;
$color-light: #66BFE0;
$color-dark-lowsat: #427B91;
$color-light-lowsat: #86C8E0;
$color-black: #111111;
$color-light-gray: #d0d0d0;
$color-very-light-gray: #e0e0e0;
$color-offwhite: #f3f3f3;
$color-white: #ffffff;
$link-color: $color-base;
$link-hover-color: $color-dark-lowsat;
$border-radius-subtle: 3px;

/* Global Styles */
body {
	background-color: #ffffff;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;

	a, a:link, a:visited, a:active, a:hover {
		text-decoration: none;
	}

	a, a:link, a:visited, a:active {
		color: $link-color;
	}
	a:hover {
		color: $link-hover-color;
	}
}

div#page-wrapper {
   width: 960px;
   margin: 0px auto;
   overflow: hidden;
   background-color: $color-white;

   header#masthead {
      width: 100%;
      height: 200px;
      overflow: hidden;
	  background-color: $color-light-lowsat;

	  h1, h2 {
		  line-height: 1;
		  margin: 0;
		  padding: 0px 15px;
	  }
      h1 {
		  padding-top: 55px;
		  font-size: 54px;
      }
	  h2 {
		  padding-top: 16px;
		  font-size: 20px;
		  font-weight: normal;
	  }
   }

   nav#navbar {
	   /* Variables */
	   $navbar-height: 40px;

	   width: 100%;
	   height: $navbar-height;
	   overflow: hidden;
	   background-color: $color-black;
	   border-bottom-left-radius: $border-radius-subtle;
	   border-bottom-right-radius: $border-radius-subtle;

	   ul {
		   margin: 0;
		   padding: 0;
		   line-height: $navbar-height;
		   list-style: none;

		   li {
			   display: inline-block;

			   a {
				   display: block;
				   margin: 0;
				   padding: 0px 20px;
				   color: $color-light;
			   }
			   a:hover {
				   background-color: $color-light-gray;
				   color: $color-dark-lowsat;
			   }
		   }
	   }
   }

   main {
	   padding: 26px 10px;

	   article {
		   header {
			   h1, h2, h3 {
				   line-height: 1;
				   margin: 0;
			   }
			   h1 {
				   margin-bottom: 20px;
			   }
		   }
	   }
   }

   footer#page-footer {
	   margin-top: 30px;
	   padding: 10px;
	   padding-bottom: 0px;
	   border-top: 1px solid $color-black;
	   text-align: center;

	   p {
		   margin: 3px 0px;
	   }

	   nav#footer-links {
		   margin: 20px auto;

		   ul {
			   margin: 0;
			   padding: 0;
			   list-style: none;

			   li {
				   display: inline-block;
			   }
			   li.separator {
				   margin: 0px 10px;
			   }
		   }
	   }
   }
}


/* Generic content styles */

code {
	margin: 2px 0px;
	padding: 1px 4px;
	display: inline-block;
	background-color: $color-offwhite;
	border-radius: $border-radius-subtle;
	border: 1px solid $color-very-light-gray;
}
.highlight {
	background: none;

	code {
		margin: 0;
		padding: 10px;
		display: block;
	}
}
