<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Klein - {{ page.title }}</title>
        <meta name="description" content="Klein - klein.php - A lightning fast router for PHP">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="assets/styles/normalize.css">
        <link rel="stylesheet" href="assets/styles/default.css">
        <link rel="stylesheet" href="assets/styles/syntax.css">
        <link rel="stylesheet" href="assets/styles/main.css">
        <script src="assets/scripts/vendor_js/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
		<div id="page-wrapper">
			<!--[if lt IE 7]>
				<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
			<![endif]-->

			<h1>{{ page.title }}</h1>

			<!-- Main Content -->
			<div id="main-content">
				{{ content }}
			</div>
		</div>

		<!-- GitHub Fork Ribbon -->
		<a href="https://github.com/chriso/{{ page.github_name }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>


		<!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/scripts/vendor_js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="assets/scripts/main.js"></script>


        <!-- Google Analytics -->
        <script>
			/*
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
		 */
        </script>
    </body>
</html>
